<h1> List of photos </h1>

<form action="" method="">
  <label for="img_box"> Image </label>
  <input id="img_box" name="the_image" type="text" placeholder="Enter a URL for the image">
  <label for="caption_box"> Caption </label>
  <textarea id="caption_box" name="the_caption" rows="2" placeholder="Enter a caption for the photo..."></textarea>
  <label for="owner_box"> Owner ID </label>
  <input id="owner_box" name="the_owner" type="text" placeholder="Enter a user ID">
  <button> Add photo </button>
</form>

<hr>

<table border="1">
  <tr>
    <th> Image </th>
    <th> Caption </th>
    <th> Owner </th>
    <th> Posted </th>
    <th></th>
  </tr>

  <% @list_of_photos.each do |a_photo| %>
  <tr>
    <td>
      <img src="<%= a_photo.image %>">
    </td>
    <td><%= a_photo.caption %></td>
    <td><%= a_photo.poster.username %></td>
    <td><%= a_photo.created_at %></td>
    <td> Show details </td>
  </tr>
  <% end %>
</table>
